openapi: 3.1.0
info:
  title: Blubrry Podcast Hosting & Statistics API
  version: "2"
  description: |
    REST API for podcast publishing, media hosting, episode management, and
    podcast download statistics on Blubrry. Authentication is OAuth 2.0
    Bearer; obtain a client_id / secret from Blubrry and request an access
    token at https://api.blubrry.com/oauth2/token.

    Source spec: https://blubrry.com/developer/api/podcaster.yaml
  contact:
    name: Blubrry Developer
    url: https://blubrry.com/developer/api/
servers:
  - url: https://api.blubrry.com/2
    description: Production
tags:
  - name: Episode
    description: Read, create, and update episodes for shows hosted on Blubrry.
  - name: Media
    description: Upload and manage media files hosted on Blubrry.
  - name: Statistics
    description: Podcast download statistics.
security:
  - OAuth2: []
paths:
  /episode/{keyword}/:
    get:
      tags: [Episode]
      summary: List episodes
      description: Returns a list of most recent episodes for a show identified by its program keyword.
      operationId: listEpisodes
      parameters:
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200': { description: Episode list returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /episode/{keyword}/{episode_id}/:
    get:
      tags: [Episode]
      summary: Get an episode
      operationId: getEpisode
      parameters:
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/EpisodeId'
      responses:
        '200': { description: Episode returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Episode not found. }
  /episode/{keyword}/add:
    post:
      tags: [Episode]
      summary: Create an episode
      description: Publish, schedule, or save a new episode as draft for a show.
      operationId: createEpisode
      parameters:
        - $ref: '#/components/parameters/Keyword'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EpisodeInput'
      responses:
        '201': { description: Episode created. }
        '400': { description: Validation error. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /episode/{keyword}/update/{episode_id}/:
    post:
      tags: [Episode]
      summary: Update an episode
      operationId: updateEpisode
      parameters:
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/EpisodeId'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/EpisodeInput'
      responses:
        '200': { description: Episode updated. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Episode not found. }
  /episode/{keyword}/update-image/{episode_id}/:
    put:
      tags: [Episode]
      summary: Update episode image
      operationId: updateEpisodeImage
      parameters:
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/EpisodeId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
      responses:
        '200': { description: Image updated. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /episode/{keyword}/delete-image/{episode_id}/:
    delete:
      tags: [Episode]
      summary: Delete episode image
      operationId: deleteEpisodeImage
      parameters:
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/EpisodeId'
      responses:
        '204': { description: Image deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /media/index.{format}:
    get:
      tags: [Media]
      summary: List shows
      description: Returns the list of shows the authorized account has access to.
      operationId: listShows
      parameters:
        - $ref: '#/components/parameters/Format'
      responses:
        '200': { description: Shows returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /media/{keyword}/index.{format}:
    get:
      tags: [Media]
      summary: List media for a show
      description: Returns unpublished and recently published media files for the show.
      operationId: listShowMedia
      parameters:
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/Format'
      responses:
        '200': { description: Media list returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /media/{keyword}/{filename}:
    get:
      tags: [Media]
      summary: Get a media file's metadata
      operationId: getMedia
      parameters:
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/Filename'
      responses:
        '200': { description: Media metadata returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { description: Media not found. }
    put:
      tags: [Media]
      summary: Upload (or replace) a media file
      operationId: uploadMedia
      parameters:
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/Filename'
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200': { description: Media uploaded. }
        '401': { $ref: '#/components/responses/Unauthorized' }
    delete:
      tags: [Media]
      summary: Delete a media file
      operationId: deleteMedia
      parameters:
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/Filename'
      responses:
        '204': { description: Media deleted. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /media/{keyword}/migrate_add.json:
    post:
      tags: [Media]
      summary: Queue a media file for migration into Blubrry hosting
      operationId: migrateAddMedia
      parameters:
        - $ref: '#/components/parameters/Keyword'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [source_url]
              properties:
                source_url:
                  type: string
                  format: uri
      responses:
        '200': { description: Migration queued. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /media/{keyword}/migrate_remove.json:
    post:
      tags: [Media]
      summary: Remove a migration request
      operationId: migrateRemoveMedia
      parameters:
        - $ref: '#/components/parameters/Keyword'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [source_url]
              properties:
                source_url:
                  type: string
                  format: uri
      responses:
        '200': { description: Migration request removed. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /media/{keyword}/migrate_status.json:
    get:
      tags: [Media]
      summary: Get migration status
      operationId: getMigrationStatus
      parameters:
        - $ref: '#/components/parameters/Keyword'
      responses:
        '200': { description: Migration status returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /stats/index.{format}:
    get:
      tags: [Statistics]
      summary: List shows with statistics access
      operationId: listStatsShows
      parameters:
        - $ref: '#/components/parameters/Format'
      responses:
        '200': { description: Shows returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /stats/{keyword}/summary.{format}:
    get:
      tags: [Statistics]
      summary: Show statistics summary
      description: Overall download summary for a show.
      operationId: getShowStatsSummary
      parameters:
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/Format'
      responses:
        '200': { description: Summary returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /stats/{keyword}/show-episodes/:
    get:
      tags: [Statistics]
      summary: Episode-level download counts for a show
      operationId: getShowEpisodeStats
      parameters:
        - $ref: '#/components/parameters/Keyword'
      responses:
        '200': { description: Episode stats returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /stats/{keyword}/:
    get:
      tags: [Statistics]
      summary: Monthly download breakdown for a show
      operationId: getShowMonthlyStats
      parameters:
        - $ref: '#/components/parameters/Keyword'
      responses:
        '200': { description: Monthly stats returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /stats/{keyword}/countries/:
    get:
      tags: [Statistics]
      summary: Show downloads by country
      operationId: getShowCountryStats
      parameters:
        - $ref: '#/components/parameters/Keyword'
      responses:
        '200': { description: Country stats returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /stats/{keyword}/app-types/:
    get:
      tags: [Statistics]
      summary: Show downloads by application type
      operationId: getShowAppTypeStats
      parameters:
        - $ref: '#/components/parameters/Keyword'
      responses:
        '200': { description: App type stats returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /stats/{keyword}/apps/:
    get:
      tags: [Statistics]
      summary: Show downloads by application
      operationId: getShowAppStats
      parameters:
        - $ref: '#/components/parameters/Keyword'
      responses:
        '200': { description: App stats returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /stats/{keyword}/episodes/:
    get:
      tags: [Statistics]
      summary: List episodes with stats
      operationId: listStatsEpisodes
      parameters:
        - $ref: '#/components/parameters/Keyword'
      responses:
        '200': { description: Episode list returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /stats/{keyword}/{episode_id}/countries/:
    get:
      tags: [Statistics]
      summary: Episode downloads by country
      operationId: getEpisodeCountryStats
      parameters:
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/EpisodeId'
      responses:
        '200': { description: Country stats returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /stats/{keyword}/{episode_id}/app-types/:
    get:
      tags: [Statistics]
      summary: Episode downloads by application type
      operationId: getEpisodeAppTypeStats
      parameters:
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/EpisodeId'
      responses:
        '200': { description: App type stats returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /stats/{keyword}/{episode_id}/apps/:
    get:
      tags: [Statistics]
      summary: Episode downloads by application
      operationId: getEpisodeAppStats
      parameters:
        - $ref: '#/components/parameters/Keyword'
        - $ref: '#/components/parameters/EpisodeId'
      responses:
        '200': { description: App stats returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /stats/{keyword}/widget/preview.json:
    get:
      tags: [Statistics]
      summary: Stats widget preview
      operationId: getStatsWidgetPreview
      parameters:
        - $ref: '#/components/parameters/Keyword'
      responses:
        '200': { description: Widget preview returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /stats/{keyword}/totals.json:
    get:
      tags: [Statistics]
      summary: Lifetime totals for a show
      operationId: getShowStatsTotals
      parameters:
        - $ref: '#/components/parameters/Keyword'
      responses:
        '200': { description: Totals returned. }
        '401': { $ref: '#/components/responses/Unauthorized' }
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: |
        OAuth 2.0 Bearer token. Contact Blubrry to receive a client_id and
        secret. Tokens expire after one hour; refresh tokens do not expire.
      flows:
        authorizationCode:
          authorizationUrl: https://api.blubrry.com/oauth2/authorize
          tokenUrl: https://api.blubrry.com/oauth2/token
          refreshUrl: https://api.blubrry.com/oauth2/token
          scopes: {}
  parameters:
    Keyword:
      name: keyword
      in: path
      required: true
      description: Program keyword that identifies the show.
      schema:
        type: string
    EpisodeId:
      name: episode_id
      in: path
      required: true
      schema:
        type: integer
    Format:
      name: format
      in: path
      required: true
      description: Response serialization format.
      schema:
        type: string
        enum: [json, xml]
    Filename:
      name: filename
      in: path
      required: true
      description: Media filename including extension.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 10
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
  responses:
    Unauthorized:
      description: Missing or invalid access token.
  schemas:
    EpisodeInput:
      type: object
      description: Episode fields. Send the subset you want to set or update.
      properties:
        title: { type: string }
        subtitle: { type: string }
        summary: { type: string }
        link: { type: string, format: uri }
        author: { type: string }
        explicit:
          type: string
          enum: [clean, yes, "no"]
        media_url: { type: string, format: uri }
        duration: { type: string, description: "HH:MM:SS" }
        publish_date: { type: string, format: date-time }
        status:
          type: string
          enum: [publish, draft, future]
